<nav class="navbar navbar-light bg-light">
    <div class="cut-header-logo">
        <a class="navbar-brand ">
            <button mat-icon-button
                    class="toggle-btn trigger"
                    (click)="toggleSideBar()">
                <main>
                    <div id="burger"
                         class="hamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </main>
            </button>
        </a>
    </div>
    <img src="https://img.icons8.com/color/48/000000/pied-piper-season-3.png"
         class="img-logo">
    <span class="navbar-header"
          routerLink="/welcome"> EKart </span>
    <form class="navbar-form"
          role="search">
        <div class="input-group add-on">
            <input id="typeahead-basic"
                   #input
                   type="text"
                   class="form-control mr-sm-2 mr-50"
                   [(ngModel)]="model"
                   [ngbTypeahead]="search"
                   name="model"
                   placeholder="Search"
                   [resultFormatter]="formatter"
                   [inputFormatter]="formatter"
                   (selectItem)="selectedItem($event)" />
            <div class="input-group-btn">
                <button class="btn btn-default search-btn"
                        type="submit"><i class="material-icons">
                        search
                    </i></button>
            </div>
        </div>
    </form>
    <span *ngIf="!isHiddenLoginBtn"
          class="btn btn-login"
          data-toggle="modal"
          mat-button
          data-target=".bd-example-modal-lg-sign__in">
        <i class="material-icons color">person</i>
    </span>
    <span *ngIf="isHiddenLoginBtn">
        <button class="btn btn-primary"
                (click)="logout()"
                mat-button> Logout
        </button>
    </span>
    <!-- <span  class="btn btn-login"
          data-toggle="modal"
          mat-button
          data-target=".bd-example-modal-lg-sign__in">
          Logout
    </span> -->
    <button mat-button
            routerLink="/my-cart">
        <i class="material-icons shoping-cart">
            shopping_cart
        </i>
    </button>
    <p >{{cartItemCount}}</p>
    <div class="modal fade bd-example-modal-lg-sign__in"
         id="login"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <pm-login (hideLogin)="hideLogin($event)"></pm-login>
    </div>
    <div class="modal fade bd-example-modal-lg-sign__up"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true"
         id="register">
        <pm-register></pm-register>
    </div>
    <div class="li-active-cut">
        <a class="navbar-brand">
            <span class="ml-5"
                  routerLink="/contact"> <img class="phone-icon"
                     src="https://img.icons8.com/cotton/64/000000/phone-message.png"> Contact Us</span>
        </a>
    </div>
</nav>