thead {
  color: #337AB7;
}
.card-header{
  text-transform: uppercase;
}

/*Card css */
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  float: left;
  margin: 1rem;
  position: relative;
}

.demo-card-square.mdl-card:hover {
  box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  /* background: #03a9f4; */
}
.mdl-card{
  box-shadow: 0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12);
  transition: box-shadow .3s;
}
img{
  width: unset;
  height: 185px;
  margin-left: 25px;
}
.mdl-card__supporting-text{
  padding: 14px;
}
.demo-card-square > .mdl-card__accent {
  background:#FFEA29;
}
.mdl-card__title-text a{
  background: #FFEA29;
  padding:6px;
  border-radius: 5px;
  font-size: 23px;
  color: black;
  text-decoration: none;
}
.mdl-card__title-text{
  margin-bottom: 12px;
}
:host >>> .mdl-button{
  float: right !important;
  margin: -9px 11px !important;
}



