<div class='card'>
  <div class='card-header'>
    {{header}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-1'>Search</div>
      <div class='col-md-3'>
        <input type='text'
               [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row'
         *ngIf='listFilter'>
      <div class='col-md-6'>
        <h4>Search : {{listFilter}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"
           *ngFor='let product of filteredProducts'>
        <div class="mdl-card mdl-shadow--2dp demo-card-square">
          <div class="mdl-card__title mdl-card--expand">
            <img *ngIf='showImage'
                 [src]='product.imageUrl'
                 [title]='product.productName'>
          </div>
          <div class="mdl-card__supporting-text">
            <div class="mdl-card__title-text"> <a [routerLink]="['/product', product.productId]">
               Name: {{ product.productName | slice:0:16 }}<span *ngIf="product.productName.length > 16">...</span>
              </a></div>
           Details: {{ product.productCode | lowercase | convertToSpaces: '-' }}
          </div>
         
            <button mat-raised-button color="primary" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" [routerLink]="['/product', product.productId]">
              Read more
            </button>
        </div>
      </div>
    </div>
    <!-- <div class="row">
    <div class='table-responsive'>
      <table class='table'
             *ngIf='products && products.length'>
        <thead>
          <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td>
              <img *ngIf='showImage'
                   [src]='product.imageUrl'
                   [title]='product.productName'
                   [style.width.px]='imageWidth'
                   [style.margin.px]='imageMargin'>
            </td>
            <td>
              <a [routerLink]="['/products', product.productId]">
                {{ product.productName }}
              </a>
            </td>
            <td>{{ product.productCode | lowercase | convertToSpaces: '-' }}</td>
            <td>{{ product.releaseDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>