$zero: 0;

@mixin absoluteValue($top) {
  position: absolute;
  right: $zero;
  left: $zero;
  bottom: $zero;
  top: $top; 
}
.app-mat-drawer-size {
  width: 26%;
  box-shadow: 9px 0 7px rgba(0, 0, 0, 0.1);
}
mat-drawer-container {
  @include absoluteValue(10%);
}

.app-remove-margin {
  margin-left: $zero !important;
  overflow-y: hidden;
}
.app-backdrop-container {
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
  @include absoluteValue($zero);
  height: 200%;
  overflow: hidden;
}
.disable-scroll {
  overflow-y: hidden;
}
